<div class="sub-header">
  <div></div>
  <div>
    <!-- <%= form_tag({controller:"people", action:"index"}, method: :get) do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索する' %>
    <% end %> -->
    <%= button_tag "ヒトを追加", id: 'openModalBtn', class: 'primary-btn add-person-btn' %>
  </div>
</div>
<div class="container">
  <div class="content main">
    <div>
      <% @people.each_with_index do |person, i| %>
        <div class="person-row <%= 'active' if active?(i, person.id) %>" data-id=<%= person.id %>>
          <%= image_tag 'person_no_img.png', class: 'person-img' %>
          <div class="person-summary">
            <div class="person-furigana"><%= person.furigana %></div>
            <div class="person-name"><%= person.name %></div>
            <div class="person-group">家族</div>
            <div class="person-group">田中家</div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="content">
    <div class="person-detail">
      <div class="person-detail-top">
        <%= image_tag 'person_no_img.png', class: 'person-img' %>
        <div class="person-summary">
          <div class="person-furigana"><%= @person.furigana %></div>
          <div class="person-name"><%= @person.name %></div>
          <div class="person-group">家族</div>
          <div class="person-group">田中家</div>
        </div>
      </div>
      <div class="button-area">
        <%= link_to '編集する', edit_users_person_path(@person.id), class: 'edit-button button' %>
        <%= link_to '削除する', users_person_path(@person.id), data: { turbo_method: :delete }, class: 'delete-button button' %>
      </div>
      <div class="person-detail-row <%= 'd-none' if @person.birthday.blank? %>">
        <span class="person-detail-title">誕生日</span>
        <span class="person-birthday"><%= l @person.birthday %>(<%= get_age(@person.birthday) %>歳)</span>
      </div>
      <div class="person-detail-row <%= 'd-none' if @person.phone_number.blank? %>">
        <span class="person-detail-title">電話番号</span>
        <span class="person-phone-number"><%= @person.phone_number %></span>
      </div>
      <div class="person-detail-row <%= 'd-none' if @person.mail.blank? %>">
        <span class="person-detail-title">メールアドレス</span>
        <span class="person-mail"><%= @person.mail %></span>
      </div>
      <div class="person-detail-row <%= 'd-none' if @person.address.blank? %>">
        <span class="person-detail-title">住所</span>
        <span class="person-address"><%= @person.address %></span>
      </div>
    </div>
  </div>
  <div class="content">
    <% @memos.each do |memo| %>
      <div class="memo-row">
        <div class="memo-date">
          <%= l memo.created_at.to_date %>
        </div>
        <div class="memo-content">
          <%= memo.content %>
          エイデンアンドアネイのおくるみももらった！4000円くらいだと思う。すごくかわいい。
        </div>
        <div class="memo-tag">
          結婚祝い
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="newPersonModal" class="modal">
  <div class="modal-content">
    <span class="close-btn" id="closeModalBtn">&times;</span>
    <%= form_with model: Person.new, url: users_people_path, local: true do |f| %>
      <div class="field mt-50">
        <%= f.label :furigana, class: 'form-label' %>
        <%= f.text_field :furigana, class: 'form-text' %>
      </div>
      <div class="field">
        <%= f.label :name, class: 'form-label' %>
        <%= f.text_field :name, class: 'form-text' %>
      </div>
      <div class="field">
        <%= f.label :birthday, class: 'form-label' %>
        <%= f.date_field :birthday, class: 'form-text' %>
      </div>
      <div class="field">
        <%= f.label :phone_number, class: 'form-label' %>
        <%= f.telephone_field :phone_number, class: 'form-text' %>
      </div>
      <div class="field">
        <%= f.label :mail, class: 'form-label' %>
        <%= f.email_field :mail, autofocus: true, autocomplete: "email", class: 'form-text' %>
      </div>
      <div class="field">
        <%= f.label :address, class: 'form-label' %>
        <%= f.text_field :address, class: 'form-text' %>
      </div>
      <div>
        <%= f.submit 'ヒトを追加', class: 'primary-btn submit-btn' %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :js do %>
  <%= javascript_import_module_tag "users/people/index" %>
<% end %>
