<div class="sub-header">
  <div></div>
  <div>
    <!-- <%= form_tag({controller:"people", action:"index"}, method: :get) do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索する' %>
    <% end %> -->
  </div>
</div>
<div class="container">
  <div class="content main">
    <div>
      <% @people.each do |person| %>
        <div class="person-row">
          <%= image_tag 'person_no_img.png', class: 'person-img' %>
          <div class="person-summary">
            <div class="person-furigana">
              たなかゆきてる
            </div>
            <div class="person-name">
              <%= person.name %>
            </div>
            <div class="person-group">
              家族
            </div>
          </div>
        </div>
        <div class="person-row">
          <%= image_tag 'person_no_img.png', class: 'person-img' %>
          <div class="person-summary">
            <div class="person-name">
              <%= person.name %>
            </div>
            <div class="person-group">
              家族
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="content">
    <div class="person-detail">
      <div class="person-detail-top">
        <%= image_tag 'person_no_img.png', class: 'person-img' %>
        <div class="person-summary">
          <div class="person-furigana">
            たなかゆきてる
          </div>
          <div class="person-name">
            田中幸輝
          </div>
          <div class="person-group">
            家族
          </div>
        </div>
      </div>
      <div class="person-detail-row">
        <span class="person-detail-title">
          誕生日
        </span>
        <span>
          1994/07/19(30歳)
        </span>
      </div>
      <div class="person-detail-row">
        <span class="person-detail-title">
          電話番号
        </span>
        <span>
          090-0000-0000
        </span>
      </div>
      <div class="person-detail-row">
        <span class="person-detail-title">
          メールアドレス
        </span>
        <span>
          sample@sample.com
        </span>
      </div>
      <div class="person-detail-row">
        <span class="person-detail-title">
          住所
        </span>
        <span>
          東京都江戸川区東小岩1-14-3
        </span>
      </div>
    </div>
  </div>
  <div class="content">
    <% @memos.each do |memo| %>
      <div class="memo-row">
        <div class="memo-date">
          <%= l memo.created_at.to_date %>
        </div>
        <div class="memo-content">
          <%= memo.content %>
          エイデンアンドアネイのおくるみももらった！4000円くらいだと思う。すごくかわいい。
        </div>
        <div class="memo-tag">
          結婚祝い
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :js do %>
  <%= javascript_import_module_tag "users/people/index" %>
<% end %>
