<div class="forgot-password-container">
  <div class="forgot-password-card">
    <%= link_to image_tag("square_logo.png", class:"logo"), '/' %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'forgot-password-form' }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-text' %>
      </div>

      <div class="actions">
        <%= f.submit "メールを送信する", class: 'primary-btn forgot-password-btn' %>
      </div>
    <% end %>
    <%= link_to "ログイン画面にもどる", new_session_path(resource_name), class: 'login-link' %>
  </div>
</div>
